#header-wrapper
{
    margin: 1vh 2vw 1vh 2vw;
    border-radius: 32px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    filter: grayscale(30%);
}

#title-first-paragraph
{
    text-align: center;
    font-size: 3rem;
    color: #F1ECE3;
}

#title-second-paragraph
{
    color: #F1ECE3;
    font-size: 1rem;
    text-align: center;
}

#go-to-recipes-button
{
    margin-top: 4vh;
    background-color: #F29E36;
    border-radius: 24px;
    padding: 4px 12px 4px 12px;
}

#go-to-recipes-button:hover
{
    cursor: pointer;
}

@media screen and (max-width: 480px)
{
    #title-first-paragraph
    {
        font-size: 1.5rem;
    }
    #title-second-paragraph, #go-to-recipes-button
    {
        font-size: 0.9rem;
    }
}
    