.homepage {
	display: flex;
	align-items: center;
	justify-content: center; /* add this line to center the header horizontally */
	flex-direction: column;
}

.topbar img {
	max-height: 50px;
	margin-right: 20px;
	margin-top: 1px;
	border-radius: 20px;
	transform: scale(1);
}

.topbar {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	width: 100%; 
	max-width: 960px;
	margin: 0 auto; 
	position: sticky;
	top: 0;
	background-color: white;
	padding-left: 150px;
	padding-right: 150px;

}

.links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.links a {
	color: black;
	margin-left: 20px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	
}

h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 50px;
}

.recipe-container img {
	/* max-height: 800px; */
	margin-top: 50px;
	width: 50vw;
	border-radius: 5px;
	
}

