#recipe-box
{
    border-radius: 32px;
    background-color: #FFFBF2;
    padding-bottom: 2vh;
}

#image-wrapper
{
    max-height: 16vh;
    overflow: hidden;
}

#image-wrapper > img
{
    border-radius: 32px 32px 0 0;
}

#recipe-image
{
    width: 100%;
    object-fit: contain;
}

#recipe-name
{
    font-size: 1.2rem;
    font-weight: bold;
    color: #262522;
}

#recipe-details
{
    margin: 1vh 0 0 1vw;
}

#recipe-cooking-details
{
    font-size: 0.6rem;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    gap: 4px;
}

#recipe-card-footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
    margin-right: 1vw;
}

#view-recipe-button
{
    border-radius: 24px;
    padding: 4px 12px 4px 12px;
    border: 1px solid gray;
    cursor: pointer;
}